@{
    ViewData["Title"] = "Acesso negado";
}
<div class="container" style="max-width:720px; margin-top:60px;">
    <h3>Acesso negado</h3>
    <p>Você não tem permissão para acessar esta página.</p>
    <a class="btn btn-outline-secondary" href="/Account/Login">Voltar</a>
</div>
