<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Limite alto do IIS (2GB-1). Acima disso depende da infraestrutura/proxy; o app usa chunked upload configurável. -->
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <serverRuntime uploadReadAheadSize="1048576" />
    <aspNetCore processPath="dotnet" arguments=".\InovaGed.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="00:30:00" hostingModel="inprocess" />
  </system.webServer>
</configuration>
