<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 100 MB: alinhar com DocumentUpload:MaxFileSizeMb para retornar JSON amigável antes do IIS derrubar a conexão. -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <serverRuntime uploadReadAheadSize="1048576" />
    <aspNetCore processPath="dotnet" arguments=".\InovaGed.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="00:05:00" hostingModel="inprocess" />
  </system.webServer>
</configuration>
