<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Limite alto do IIS (2GB-1). Acima disso depende da infraestrutura/proxy; o app usa chunked upload configurável. -->
        <hiddenSegments>
          <add segment=".git" />
          <add segment=".svn" />
          <add segment="node_modules" />
          <add segment="vendor" />
        </hiddenSegments>
        <denyUrlSequences>
          <add sequence=".env" />
          <add sequence="env." />
          <add sequence="appsettings" />
          <add sequence="phpunit" />
          <add sequence="eval-stdin.php" />
          <add sequence="webshell" />
          <add sequence="shell.aspx" />
          <add sequence="shell.asp" />
          <add sequence="Telerik.Web.UI.DialogHandler.aspx" />
          <add sequence="actuator" />
          <add sequence="manager/html" />
          <add sequence="containers/json" />
          <add sequence="v2/_catalog" />
        </denyUrlSequences>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <serverRuntime uploadReadAheadSize="1048576" />
    <aspNetCore processPath="dotnet" arguments=".\InovaGed.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" requestTimeout="00:30:00" hostingModel="inprocess" />
  </system.webServer>
</configuration>
